.container {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  text-align: center;
}

.headline {
  display: inline-block;
  font-size: xxx-large;
  margin-bottom: 0;
}
.tagline {
  display: inline-block;
}
